.form-item-wrapper {
  max-width: 636px;
  margin: 0 auto;
  padding: 24px;
  background-color: #3d5a80;
  border-radius: 4px;
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 576px) {
      flex-direction: row;
    }
    div {
      padding: 8px;
      background-color: #ffffff;
      border-radius: 4px;
      margin-bottom: 8px;
      @media (min-width: 576px) {
        width: 35%;
        margin-bottom: 0;
      }
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
  input {
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 8px;
    margin-bottom: 8px;
    line-height: 1;
    text-align: center;
    @media (min-width: 576px) {
      width: 35%;
      margin-bottom: 0;
    }
  }
  .btn-group {
    background-color: #3d5a80;
    width: 86px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 12px 12px;
    padding: 0;
    button {
      border-radius: 4px;
      border: none;
      outline: none;
      padding: 10px 12px;
      background-color: #fff;
      cursor: pointer;
      width: 38px;
      @media (min-width: 576px) {

      }
    }
  }
}

.fa-undo {
  color: #3d5a80;
}

.fa-trash {
  color: #e5383b;
}

.modalContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modalContainer.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  width: 60%;
  background-color: #3d5a80;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 20px;
  border-radius: 4px;
  color: white;
  position: relative;
  transform: scale(1);
  transition: 0.4s all;
}

.modal.active {
  transform: scale(1);
}

.title {
  margin: 0;
  padding: 16px;
  font-weight: 400;
  span {
    cursor: pointer;
    display: block;
    margin-left: 415px;
    width: 10px;
  }
}
